body{
  font-family: 'Lato', sans-serif;
  background: url(../../images/backgroundLights.jpg) no-repeat center center fixed;
  background-size:  cover;
  }

hr{
  border: none;
  height: 5px;
  background-color: rgb(132, 16, 38);
}

#nameTitle {
  border-color: rgb(132, 16, 38);
  border-width: 17px;
  border-style:double; 	
  text-align: center;
  background-color: rgba(255, 255, 255, 0.295);
  color: rgb(0, 0, 0);
  padding: 5px 5px 3px 5px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 45px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.19), 0 10px 20px rgba(255, 255, 255, 0.23);
}

.boxStyle {
  border: 1px solid rgb(107, 107, 107);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  background-color: rgba(192, 192, 192, 0.87);
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.19), 0 10px 20px rgba(255, 255, 255, 0.23);
}

#facePhoto {
  text-align: center; 
  padding-top: 2%; 
  padding-bottom: 2%; 
}

img{
  border: 3px solid rgb(0, 0, 0);
}

.column3 {
  float: left;
  width: 32%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.column2 {
  float: left;
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.groupedText{
  line-height:1%;
  
}

.verticalcenter {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
}

/* Clear floats after the columns */
.row{
  display: flex;
  width: 100%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.alignLeft {
  float: left;

}

.alignRight {
  float: right;
}

.alignCenter {
  margin: 0 auto;
}
