body {
  background-color: white;
  background-size: cover;
  color: black;
}

.boxStyle {
  box-shadow: inset 0px 0px 45px 5px rgba(0, 0, 0, 0.24);
  margin: 25px 10px;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.alignCenter {
  text-align: center;
}

#topContainer {
  background-color: black;
  color: white;
  padding: 40px;
  margin: -10px;
  height: 550px;
}

.flexContainer {
  display: flex;
}

.mainContent {
  flex: 1;
}

.sidebar {
  flex: 1;
  text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 325px;
}

@font-face {
  font-family: BebasBig;
  src: url(../fonts/BebasNeue-Book.otf);
}
@font-face {
  font-family: BebasThin;
  src: url(../fonts/BebasNeue-Thin.otf);
}
h1 {
  font-size: 40px;
  font-family: BebasBig;
  letter-spacing: 2px;
}

h3 {
  line-height: 125%;
  font-size: 32px;
  font-family: BebasThin;
  letter-spacing: 2px;
  font-weight: 500;
}

.credentialsHeader {
  margin-bottom: -20px;
}

span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

#headerContent {
  margin-top: -120px;
}

#topHeader {
  position: relative;
  left: 25px;
  align-items: center;
  display: grid;
}

#headerName {
  margin-bottom: -80px;
  font-size: 82px;
}
