body {
  background-color: white;
  background-size: cover;
  color: black;
}

.boxStyle {
  box-shadow: inset 0px 0px 45px 5px rgba(0, 0, 0, 0.24);
  margin: 25px 10px;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.alignCenter {
  text-align: center;
}

#topContainer {
  background-color: black;
  color: white;
  padding: 20px;
  margin: -8px;
}

.flexContainer {
  display: flex;
}

.mainContent {
  flex: 1;
}

.sidebar {
  flex: 1;
  text-align: center;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 65%;
  min-width: 90px;
}

@font-face {
  font-family: BebasBig;
  src: url(../../fonts/BebasNeue-Book.otf);
}
@font-face {
  font-family: BebasThin;
  src: url(../../fonts/BebasNeue-Thin.otf);
}
h1 {
  font-size: 65px;
  font-family: BebasBig;
  letter-spacing: 2px;
}

h3 {
  line-height: 115%;
  font-size: 30px;
  font-family: BebasBig;
  font-weight: 100;
  letter-spacing: 1px;
}

.credentialsHeader {
  margin-bottom: -25px;
}

span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.imgLinks {
  max-height: 225px;
  margin-bottom: 15px;
}

ul {
  vertical-align: middle;
}

#topHeader {
  margin: auto;
  width: 50%;
}

#LinksButtons {
  margin: auto;
}